.toolbar {
  position: relative;
  width: 100%;
  height: 92px;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background: #3c3a39;
}

.toolbar:hover {
  border: 0.25px solid red;
  outline: 0.5px solid blue;
}

a {
  text-decoration: none;
}

.name {
  display: flex;
  flex-grow: 1;
  flex-shrink: 0;
  left: 16px;
  order: 0;
  margin: 0 0;
  position: absolute;
  width: 500px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #fff;
  text-decoration: none;
}

.menu {
  position: absolute;
  width: 20px;
  right: 16px;
  background: #fff;
}

.page1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 590px;
  left: 0;
  top: 92px;
  background: #1c1a19;
}

.page1:hover {
  border: 0.25px solid red;
  outline: 0.5px solid blue;
}

.greetings {
  display: flex;
  width: 100%;
  height: 124px;
  left: 16px;
  top: 100px;
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 45px;
  letter-spacing: 0.37px;
  color: #ff6b00;
  flex: auto;
  order: 0;
  flex-grow: 0;
  margin: 12px 0;
}

.softw-dev {
  position: absolute;
  width: 327px;
  height: 27px;
  left: 16px;
  top: 300px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 32px;
  display: flex;
  align-items: center;
  color: #fff5e1;
  flex: auto;
  order: 1;
  flex-grow: 1;
  margin: 12px 0;
}

.content {
  position: absolute;
  width: 262px;
  height: 123px;
  left: 16px;
  top: 340px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  flex: none;
  order: 2;
  flex-grow: 0;
  margin: 12px 0;
}

.social-media {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  justify-content: space-between;
  position: absolute;
  width: 220px;
  height: 60px;
  left: 24px;
  top: 525px;
}

.image {
  position: absolute;
  width: 139.5px;
  height: 105px;
  left: 235.3px;
  top: 487px;
}
